
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: whitesmoke;
  }
  

  .main-content {
    flex: 1; 
    overflow-y: auto; 
  }
  

  .header {
    position: relative;
    top: 0;
    z-index: 1000; 
    display: flex;
    justify-content: center; 
}

.slider{
  display: flex;
  justify-content: center; 
}

.slider img {
    align-self: center;
}



  .footer {
    position: relative;
    bottom: 0;
    /* background-color: black;  */
    z-index: 1000; 
    background-image: linear-gradient(to right,  rgb(251 146 60), rgb(23 37 84));
  }
  

  .room-search{
    /* background-color: #003b95; */
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .no-room-found-message {
    text-align: center;
    margin-top: 50px;
  }


a:hover {
    transform: scale(1.1);
  }

.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .not-found-container h1 {
    font-size: 3rem;
  }
  
  .not-found-container p {
    font-size: 1.5rem;
  }
  
  .active{
    font-weight: bold;
    color: orangered;
  }
  
  